 /* Account Page Styles */
.main-container {
    width: 100%;
    max-width: 900px;
}
.account-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 50%;
    position: relative;
    justify-content: center;
    transform: translateX(50%);
}
.profile-section {
    text-align: center;
    margin-bottom: 20px;
}
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
}
.profile-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}
.section-header {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.details, .preferences {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
}
.detail-item, .preference-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}
.detail-item:last-child, .preference-item:last-child {
    border-bottom: none;
}
.detail-label, .preference-label {
    font-size: 1em;
}

/* Grouping buttons (edit and remove) next to each other */
.button-group {
    display: flex;
    gap: 10px;  /* Adds space between the buttons */
}

.edit-button, .add-preference-button {
    padding: 5px 10px;
    font-size: 0.9em;
    color: #007bff;
    background-color: #e7f0fe;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
}
/* Specific style for remove button */
.remove-button {
    color: #007bff;
    background-color: #e7f0fe;
    border: none;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #f5c6cb;
}
.edit-button:hover, .add-preference-button:hover {
    background-color: #d0e7fd;
}
.add-preference-button {
    margin-top: 10px;
}