<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='accounts.css') }}">

    <script src="https://kit.fontawesome.com/4d35a85ce5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>

<body>
    <div id="topbar">
        <div id="logo" href="index.html"><a href="/">USocial</a></div>
        <div id="nav-links">
            <a href="/events">Events</a>
            <a href="/people">People</a>
            {%if user == None:%}
            <button onclick="window.location = '/login'" id="signup-button">Login</button>
            {%else%}
            <button onclick="window.location = '/logout'" id="accnt-button">
                &#xf08b;</button>
            {%endif%}
        </div>
    </div>

    <!-- Account Section -->
    <div class="account-container">
        <!-- Profile Section -->
        <div class="profile-section">
            <div class="profile-picture"><img src="{{user_icon}}"></div>
            <div class="profile-name">{{user.get('name')}}</div>
        </div>

        <!-- Details Section -->
        <div class="details">
            <div class="section-header">Details</div>
            <div class="detail-item">
                <span class="detail-label">Name: {{user.get('name')}}</span>
                <button class="edit-button">Edit</button>
            </div>
            <div class="detail-item">
                <span class="detail-label">Email: {{user.get('email')}}</span>
                <button class="edit-button">Edit</button>
            </div>
            <div class="detail-item">
                <span class="detail-label">Password: ••••••••</span>
                <button class="edit-button">Edit</button>
            </div>
        </div>

        <!-- Events Section -->
        <div class="box-section">
            <div class="section-header">Events</div>
            <!-- Grid Container -->
            <div class="grid">
                {% for event in events%}
                <div class="rqstcard">
                    <div class="rqstcard-content">
                        <div class="text">
                            <p class="role">{{event.Name}}</p>
                            <p class="description">{{event.Description}}</p>
                            <p class="details">Date/Time: {{event.Date}}</p>
                            <p class="details">Location: {{event.Location}}</p>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>




        <!-- Reuqests Section -->
        <div class="box-section">
            <div class="section-header">Requests</div>
            <!-- Grid Container -->
            <div class="grid">
                {%for request in requests%}
                <div class="rqstcard">
                    <div class="rqstcard-content">
                        <div class="text">
                            <p class="role">{{request.Name}}</p>
                            <p class="description">{{request.Description}}</p>
                            <p class="details">Date/Time: {{request.DateTime}}</p>
                            <p class="details">Location: {{request.Location}}</p>
                            <p class="details">{{request.PersonName}}</p>

                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>


</body>

</html>