<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div id="topbar">
        <div id="logo" href="index.html">MyLogo</div>
        <div id="nav-links">
            <a href="events.html">Events</a>
            <a href="people.html">People</a>
            <a href="#contact">Contact</a>
        </div>
        <button id="signup-button">Sign Up</button>
    </div>
    
</body>
</html>