<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>

<body>

    <div id="topbar">
        <div id="logo" href="index.html">USocial</div>
        <div id="nav-links">
            <a href="/events">Events</a>
            <a href="people.html">People</a>
            <a href="#connect">Connect</a>
            <button onclick="window.location = '/login'" id="signup-button">Login</button>
        </div>
    </div>

</body>

</html>