<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4d35a85ce5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="topbar">
        <div id="logo"><a href="/">USocial</a></div>
        <div id="nav-links">
            <a href="/events">Events</a>
            <a href="/people">People</a>
            <a href="#connect">Connect</a>
            {%if user == None:%}
            <button onclick="window.location = '/login'" id="signup-button">Login</button>
            {%else%}
            <button onclick="window.location = '/account'" id="accnt-button">
                <img src="{{user_icon}}"></button>
            {%endif%}
        </div>
    </div>
    <div class="header">
        <div class="header-content">
            <div class="text-content">
                <h1>UMass <span class="highlight">Social</span></h1>
                <p>A place where you can feel at home on campus. Find people to study with, parties on campus, or any
                    other event
                    you're interested in. </p>
            </div>
            <div class="image-container">
                <img src="https://images.pexels.com/photos/1540406/pexels-photo-1540406.jpeg"
                    alt="Group of People Gathering in Concert">
            </div>
        </div>
    </div>
    <section class="trending-events">
        <h2>Trending <span class="highlight">Events</span></h2>
        <div class="slider-container">
            <button class="slider-btn left-btn" onclick="slideLeft()">&#10094;</button>
            <div class="slider">
                {%for event in events%}
                <!-- Card 1 -->
                <div class="card">
                    <img src="{{event.ImageURL}}" alt="Event Image 1">
                    <div class="card-title">{{event.Name}}</div>
                </div>
                {%endfor%}
            </div>
            <button class="slider-btn right-btn" onclick="slideRight()">&#10095;</button>
        </div>
    </section>
    <section class="featured-rqsts">
        <h2>Featured <span class="highlight">Requests</span></h2>
        <div class="rqstcard-grid">
            {%for request in requests%}
            <div class="rqstcard">
                <div class="rqstcard-content">
                    <div class="profile">
                        <img src="{{request.ImageURL}}" alt="Profile Picture" class="profile-img">
                        <p class="name">{{request.PersonName}}</p> <!-- Added name below the image -->
                    </div>
                    <div class="text">
                        <p class="role">{{request.RequestName}}</p>
                        <p class="description">{{request.Description}}</p>
                        <p class="details">Date/Time: {{request.DateTime}}</p>
                        <p class="details">Location: {{request.location}}</p>
                    </div>
                </div>
                <button class="accept-btn">Accept</button>
            </div>
            {%endfor%}
        </div>

    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>